.items {
  &-after {
    text-align: center;

    &__load {
      padding: 1rem 2.6rem;
      text-transform: uppercase;
      font-weight: bold;
    }

    .btn__loader {
      display: none;
    }
  }
}
