.modal {
  font-size: 1.6rem;

  &-header {
    padding-left: 2rem;

    .close {
      font-size: 2.4rem;
    }
  }

  &-body {
    padding-top: 2rem;
    padding-left: 2rem;

    form {
      label {
        display: inline-block;
        margin-bottom: 1rem;
      }

      .text-width {
        display: inline-block;
        width: 10rem;
        margin-right: 1rem;
        border-bottom: 1px solid #333;
      }

      textarea {
        vertical-align: middle;
      }

      textarea,
      input {
        width: 27rem;
      }
    }
  }

  &-footer {
    button {
      font-size: 1.6rem;
    }
  }
}
