main {
	// height: 70vh;
	.nav {
		font-size: 1.8rem;
	}

	.table {				
		background: #ffffff;
		font-size: 1.8rem;
		border: 1px solid #555;
		text-align: center;
	}
}

// .footer {
// 	position: fixed;
// 	width: 100%;
// 	bottom: 0;
	
// }