main {
	height: 70vh;

	.admin-table {				
		background: #ffffff;
		font-size: 1.8rem;
		border: 1px solid #555;

		th, tr {
			width: 20%;
		}
	}
}

.footer {
	position: fixed;
	width: 100%;
	bottom: 0;
	
}