main {
	// height: 70vh;
	.nav {
		font-size: 1.8rem;
	}

	.table {				
		background: #ffffff;
		font-size: 1.8rem;
		border: 1px solid #555;
		text-align: center;	
	}

	.products-table {		
		th, td {
			vertical-align: middle;
		}

		img {
			width: 9rem;
			height: 5rem; 
		}
	}
}

// .footer {
// 	position: fixed;
// 	width: 100%;
// 	bottom: 0;
	
// }