.tab-pane {
  position: relative;

  .add-user {
    position: absolute;
    top: -3.7rem;
    right: 0;
    font-size: 1.8rem;
  }
}

.table {
  background: #ffffff;
  font-size: 1.8rem;
  border: 1px solid #555;
  text-align: center;
}
