/* Fonts settings */
/*
@font-face {
  font-weight: normal;
  font-style: normal;

  font-family: "symbols-technomart";
  src: url("../fonts/symbols-technomart/fonts/symbols-technomart.woff") format("woff"),
       url("../fonts/symbols-technomart/fonts/symbols-technomart.woff2") format("woff2");
}*/
.reg() {
	font-family: "Circe", "Helvetica", "Arial", sans-serif;  //миксины для названия веб-шрифтов;
}
.bold() {
	font-family: "Circe Bold", "Helvetica", "Arial", sans-serif;	// миксины для названия веб-шрифтов;
}


/* Colors */
@btn-color: ;
@icons-color: ;
@text-color: ;
@bg-color: #68579b;
@white: #fff;

/* Basic setting */
html,
body {		
	min-width: 1092px;
	margin: ;	
	padding: ;
	font-size: 10px;
	line-height: ;
	font-family: ; // .reg()
	color: ;
	background-color: ;	
	font-weight: ;
}

img {
	max-width: 100%;
	height: auto;
	-moz-force-broken-image-icon: 1;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;	
}

/*.container {
	width: 119.2rem;
	height: 100%;
	margin: 0 auto !important;
	padding: 0 10px;		
}*/

.header {

}











/* Медиа-запросы */
@media (max-width: 1199px) {
	
}

@media (max-width: 991px) {

}

@media (max-width: 767px) {
	
}

@media (max-width: 575px) {
	
}


