.authoriz__title {
  background: #88cbbe;
  padding: 20px 30px 15px 30px;
  margin: -30px -30px 30px -30px;
  border-radius: 10px 10px 0 0;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
  font: normal 30px "Bitter", serif;
  box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);
  border: 1px solid #88cbbe;

  & > span {
    display: block;
    margin-top: 2px;
    font: 13px Arial, Helvetica, sans-serif;
  }
}
