@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";


/* Fonts settings */
/*@font-face {
	font-family: Proxima Nova Regular;
	src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova-Regular.otf')  format('opentype'),
		url('../fonts/ProximaNova-Regular.woff') format('woff'),
		url('../fonts/ProximaNova-Regular.ttf')  format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: Proxima Nova Semibold;
	src: url('../fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova-Semibold.otf')  format('opentype'),
		url('../fonts/ProximaNova-Semibold.woff') format('woff'),
		url('../fonts/ProximaNova-Semibold.ttf')  format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: Proxima Nova Bold;
	src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova-Bold.otf')  format('opentype'),
		url('../fonts/ProximaNova-Bold.woff') format('woff'),
		url('../fonts/ProximaNova-Bold.ttf')  format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: Proxima Nova Light;
	src: url('../fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova-Light.otf')  format('opentype'),
		url('../fonts/ProximaNova-Light.woff') format('woff'),
		url('../fonts/ProximaNova-Light.ttf')  format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: Proxima Nova Thin;
	src: url('../fonts/ProximaNovaT-Thin.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNovaT-Thin.otf')  format('opentype'),
		url('../fonts/ProximaNovaT-Thin.woff') format('woff'),
		url('../fonts/ProximaNovaT-Thin.ttf')  format('truetype');
	font-weight: normal;
	font-style: normal;
}*/

html {
  line-height: $mainLineHeight;
	font-size: $mainFontSize;
	color: $mainFontColor;
  height: 100%;
  @media screen and (max-width: $desktopWidth) {
		font-size: 16px;
  }
  @media screen and (max-width: $tableWidth) {
		font-size: 15px;
  }
  @media screen and (max-width: $phoneWidth) {
		font-size: 14px;
  }
}

html,
body {
  font-family: $mainFontReg;
	font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 1092px;
	//margin: ;	
//	padding: ;
	font-size: 10px;
//	line-height: ;
//	font-family: ; // .reg()
	color: #747474;
//	background-color: ;	
//	font-weight: ;
}

img {
	//max-width: 100%;
	height: auto;
	-moz-force-broken-image-icon: 1;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;	
}

/*.container {
	width: 119.2rem;
	height: 100%;
	margin: 0 auto !important;
	padding: 0 10px;		
}*/

//*, *:before, *:after { box-sizing: border-box; }

a {
	text-decoration: none;
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/*
section, .section {
  position: relative;
  padding: 40px 0;
  @media screen and (max-width: $desktopWidth) {
    padding: 36px 0;
  }
  @media screen and (max-width: $desktopWidth) {
    padding: 28px 0;
  }
  @media screen and (max-width: $desktopWidth) {
    padding: 20px 0;
  }
}*/
/*
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
}*/
/*
.content-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}*/
/*
.container {
  width: 100%;
  flex: 0 0 auto;
  position: relative;
  max-width: $desktopWidth;
  margin: 0 auto;
  @media screen and (max-width: $smDesktopWidth) {
    max-width: tableWidth;
  }
  @media screen and (max-width: $tableWidth) {
    max-width: phoneWidth;
  }
  @media screen and (max-width: $phoneWidth) {
    max-width: smPhoneWidth;
  }
}*/

/* Медиа-запросы */
@media (max-width: 1199px) {
	
}

@media (max-width: 991px) {

}

@media (max-width: 767px) {
	
}

@media (max-width: 575px) {
	
}

@import "modules/header.scss";
@import "modules/wrapper.scss";
@import "modules/footer.scss";

